
body {
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #444;
    background: #eee;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    width: 100%;
    height: 60px;
    color: rgb(55, 31, 18);
    font-size: 35px;
}

h3 {
    margin: 20px 20px;
}

.btn-success {
    margin-right: 30px;
}

ul {
    list-style-type: none;
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #563b2a;
}

li {
    float: left;

}

ul li a {
    padding: 14px 16px;
    text-align: center;
    color: white !important;
    text-decoration: none !important;
    display: block;
}

li a:hover:not(.active) {
    background-color: #925c44;
}

ul.opmaak {
    list-style-type: none;
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #ebebeb;
}

ul.opmaak li {
    float: none;
    margin: 10px 0;
}

.rightside {
    float: right;

}

.table {
    margin: 50px auto;
    width: 985px;
    background: #c3995d;
    color: #563b2a;
    border-radius: .4em;
    overflow: hidden;
    text-transform: capitalize;
}

.table td a {
    color: white;
    background-color: #371f12;
    text-decoration: none;
    margin: 7px;
    padding: 7px;
    text-align: center;
    border-radius: 5px;
}

.table td:first-child {
    padding-top: .5em;
}

.table td:last-child {
    padding-bottom: .5em;
}

.table th, .table td {
    text-align: left;
    margin: .5em 1em;
}

.table th, .table td:before {
    color: #371f12;
}

header.banner img {
    width: 100%;
    height: 250px;
    background-size: cover;
    position: relative;
}

.p {
    padding-left: 14px;
}

div.lform {
    padding-left: 10px;
}

.form {
    padding-left: 10px;
}

.formcontact {
    padding-left: 10px;
}

div.container {
    padding-left: 10px;
    width: 100%;
}

div.foto img {
    border: 1px solid #fff;
    width: 20%;
    margin-right: 30px;
}

.alert {
    margin: 50px;
    padding: 30px;
}

.container-fluid {
    margin-top: 30px;
    padding: 0;
}

footer p {
    padding: 20px;
    background-color: #563b2a;
}

form {
    margin: 50px auto;
}
