<?php
/**
 * Created by PhpStorm.
 * User: minis
 * Date: 6-2-2018
 * Time: 21:03
 */

$title = (isset($GLOBALS['pageSettings']["Title"])) ? $GLOBALS['pageSettings']["Title"] : "Oeps! Something went wrong!";
$page = (isset($GLOBALS['pageSettings']["Page"])) ? $GLOBALS['pageSettings']["Page"] : "Oeps! Something went wrong!";

if($page === "Home"){
    $setHomeActive = "nav-link active";
}else{
    $setHomeActive = "nav-link";
}

if($page === "Add"){
    $setAddActive = "nav-link active";
}else{
    $setAddActive = "nav-link";
}

?>

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Views/Shares/css/style.css">
    <title><?php echo $title ?></title>
    <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
    <script src="./Views/Shares/js/main.js"></script>
</head>
<body>
<div class="container-fuid">
    <header class="banner">
        <img src="images/banner.jpg" alt="boek-banner">


    </header>
    <div>
        <ul>
            <li><a href="index.php">Homepage</a></li>
            <li><a href="index.php?action=add">Add book</a> </li>
            <li class="rightside"><a href="auteurs.php">Auteurs</a></li>
            <li class="rightside"><a href="uitgevers.php">Uitgevers</a></li>
        </ul>
    </div>
</div>



